.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  overflow: hidden;
}

.btnContainer>button {
  padding: .75rem 2rem;

  border: none;
  outline: none;

  font-family: 'Chillax', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

.bg-transparent:hover {
  background-color: var(--hover-transparent);
}

.red-alert {
  background-color: var(--red-alert);
}
.red-alert:hover {
  background-color: var(--red-alert-hover);
}