.formContent {
  flex: 0 1 36rem;
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;

  background-color: transparent;
}

.formContent div:nth-of-type(1) {
  border-top: 10px solid var(--color-violet-principal);
}

.formContent div:nth-of-type(1) h1 {
  font-weight: 400;
  font-size: 2rem;
}

.formContent div:nth-of-type(1) p {
  margin-top: .75rem;

  font-weight: 400;
  font-size: 11pt;
  line-height: 15pt;
}

.formContent > div {
  flex: 1 0 100%;

  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--color-grey-border);

  background-color: var(--color-white);
}

.buttonsContainer {}