.fullCover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(74, 44, 97, 0.25);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border-radius: 15px;
  padding: 1.5rem;

  background-color: var(--color-white);
}

.infoContainer {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.buttonsContainer {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-evenly;
}